{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "include": [
    "src/models/**/*.ts"
  ],
  "exclude": [
    "src/models/schema/**/*.ts",
    "src/models/exp/**/*.ts",
    "src/models/hash_factory/IEncryptor.ts",
    "src/models/user/IUserModel.ts",
    "src/models/data/InstitutionUtil.ts",
    "src/models/core/IBuilder.ts",
    "src/models/content/ISyntaxTreeNode.ts"
  ],
  "reporter": ["html","text"],
  "checkCoverage": true,
  "branches": 80,
  "lines": 95,
  "functions": 95,
  "statements": 95,
  "perFile": true,
  "reportDir": "./reports/mocha",
  "tempDir": "./reports/.nyc_output"
}